.div_profile_form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
}

.text_field {
    width: 320px;
}

.profile_text {
    white-space: pre-wrap;
    text-align: justify;
}

.alert_profile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: auto;
}