.article_div_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

.article_file img{
    width: 225px;
    height: 225px;
    object-fit: cover;
}

.article_form {
    display: flex;
    flex-direction: row;
}

.article_inputs {
    display: flex;
    flex-direction: column;
}